.Background{
  background-image: url("/home/victor/Downloads/landing.jpg");
}
.center{
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
