.Background{
  background-image: url("/home/victor/Downloads/landing.jpg");
}
.center{
  text-align: center;
}
ul{
  list-style-type: none;

}
.text1{
  padding: 3em;

}
.text1:hover{
  background-color: orange;

}

.text2{
  padding: 3em;
}
.text2:Hover{
  background-color: orange;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}


.row::after {
  content: normal;
  clear: both;
  display: table;
  float: right;
  width: 400px;
}
.lorem{
  float: left;
  font-size: 25px;
  margin-top: 30px;
}
h5{
  font-size: 30px;
}
h6{
  font-size: 28px;
}
.btn-outline-danger{
  color: #FF9910

}
.drinks{
  margin-top: 30px;
}
.active{
  margin-left: 200px;
}
.col-md-3{
  margin-left: 10px;
  background-image: url("/home/victor/Downloads/images/foodsBg.jpg");
}
