.Background{
  background-image: url("/home/victor/Downloads/landing.jpg");
}
.center{
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}


.row::after {
  content: normal;
  clear: both;
  display: table;
  float: right;
  width: 400px;
}
.lorem{
  float: left;
  font-size: 25px;
}
h5{
  font-size: 30px;
}
h6{
  font-size: 28px;
}
